<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zadar - {% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <!-- bootstrap dependencies on top so the individual scripts work -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
      integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
      crossorigin="anonymous"
    ></script>


    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <div class="container navbar-container">
        <a class="navbar-brand" href="{{ url_for('posts.index')}}">Zadar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto align-items-center">
            {% if g.user %}
            <li class="nav-item nav-item-img">
              <a class="nav-link" href="{{ url_for('posts.index') }}"
                ><img class="nav-img" src="{{ url_for('static', filename='img/nav/home.png') }}"> Posts</a
              >
            </li>
            <li class="nav-item nav-item-img">
              <a class="nav-link" href="{{ url_for('tempedia.search') }}"
                ><img class="nav-img" src="{{ url_for('static', filename='img/nav/general.png') }}"> Tempedia</a
              >
            </li>
            <li class="nav-item dropdown nav-item-img">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
              <img class="nav-img" src="{{ url_for('static', filename='img/nav/tournaments.png') }}"> Combat
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a
                  class="dropdown-item"
                  href="{{ url_for('type_chart.type_chart') }}"
                  >Type Chart</a
                >
                <a
                class="dropdown-item"
                href="{{ url_for('weaknesses_calculator.calculate') }}"
                >Weaknesses Calculator</a
                >
                <a class="dropdown-item" href="{{ url_for('techniques.search') }}"
                  >Techniques</a
                >
                <a class="dropdown-item" href="{{ url_for('traits.search') }}"
                  >Traits</a
                >
              </div>
            </li>
            <li class="nav-item nav-item-img">
              <a class="nav-link" href="{{ url_for('patch.patch') }}"
                ><img class="nav-img" src="{{ url_for('static', filename='img/nav/bugs.png') }}"> Patch</a
              >
            </li>
            <li class="nav-item nav-item-img">
              <a class="nav-link" href="{{ url_for('about.about') }}"
                ><img class="nav-img" src="{{ url_for('static', filename='img/nav/questions.png') }}"> About</a
              >
            </li>
            <li class="nav-item nav-item-img">
              <a class="nav-link" href="{{ url_for('posts.get_profile' )}}"
                ><img class="nav-img" src="{{ url_for('static', filename='img/nav/media.png') }}"> {{ g.user['username'] }}</a
              >
            </li>
            <li class="nav-item nav-item-img">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">
                <img class="nav-img" src="{{ url_for('static', filename='img/nav/exit.png') }}"> Log Out</a>
            </li>
            {% else %}
            <li class="nav-item nav-item-img">
              <a class="nav-link" href="{{ url_for('auth.register') }}"
                ><img class="nav-img" src="{{ url_for('static', filename='img/nav/feedback.png') }}"> Register</a
              >
            </li>
            <li class="nav-item nav-item-img">
              <a class="nav-link" href="{{ url_for('auth.login') }}">
                <img class="nav-img" src="{{ url_for('static', filename='img/nav/media.png') }}"> Log In</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container my-3">
      <section class="content">
        <header class="text-center">{% block header %}{% endblock %}</header>
        
        {% block content %}{% endblock %}
      </section>
    </div>

    <footer class="text-center my-5">
      <span>Made by
        <a href="https://github.com/JoelEncinas" target="_blank">Joel</a>
        | Powered by <a href="https://temtem-api.mael.tech/" target="_blank">temtem-api</a>
      </span>
    </footer>

    <script src="{{ url_for('static', filename='js/alerts.js') }}"></script>
  </body>
</html>
